---
import Layout from "../layouts/Layout.astro";
import Features from "../components/Features.astro";
const pageTitle = "Pommy";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="256" alt="pommy" src="/pommy-logo.svg" />
    </div>
    <h1>Pommy</h1>
    <p class="primary-txt">
        ¡Maximiza tu eficiencia y alcanza metas de manera organizada y
        satisfactoria!
    </p>
    <div class="center">
        <a href="/404">
            <button class="btn">Probar gratis</button>
        </a>
    </div>
    <Features/ >  
</Layout>

<style>
    h1 {
        font-size: 3.1rem;
        color: #9e59df;
    }
    
    @media only screen and (max-width: 600px) {
        h1 {
            text-align: center;
        }
    }
</style>


