---

---
<section class="features">
    <div class="features-list">
        <slot />
    </div>
</section>

<style>
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
    }
    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
